#title{
  background-color: #9b8bad;
  color: white;
}
body{
   font-family: 'Montserrat',sans-serif;
}
h1{
  font-family: 'Montserrat',sans-serif;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 900;
}
h2{
  font-family: 'Montserrat',sans-serif;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 700;
}
h3{
  font-family: 'Montserrat',sans-serif;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 600;
}

#container-fluid{
  padding: 5% 15%;
}
.feature-box{
  padding: 0 30px;
}
.a1{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
}
.a2{
  color:#8f8f8f;
  font-size: 1rem;

}
.a3{
  font-size: 40px;
  color: #bcb2c8;
  padding-bottom: 3%;
}
.a3:hover{
  color:#907fa4;
}
.btn1{
  margin: 5% 3% 5% 0;
}
#tin{
  font-family:"Ubuntu";
  font-size: 2.3rem;
  font-weight: 700;
}
#tin2{
  font-family: "Montserrat";
  font-size: 20px;
  padding-left: 13px;
}
.s1{
  padding-left: 2.5%;
  padding-top: 5%;
  font-family: "Montserrat";
  font-size: 30px;
  color: #67567a;
}
.navbar{
  padding: 0 0 5rem;
}
.tit-img{
  width: 65%;
  padding-left:10%;
}
#features{
    text-align:center;
}
#testimonials{
  background-color: #907fa4;
  text-align: center;
  line-height: 2;
  color:white;

}
.carousel-item{
  padding:7% 15%;
}
.testimonials-img{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}
#press{
  background-color: #907fa4;
  padding-bottom: 30px;
  text-align: center;

}
.press-img{
  width:15%;
  padding: 15px;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.price-col{
  padding: 3% 3%;
}
@media (max-width:1091px){
  #title{
    text-align: center;
  }
  .s1{
    text-align: center;
  }
  .tit-img{
     text-align: center;
  }
}
#cta{
  background-color:#9b8bad;
  padding:5% 5%;
  text-align: center;
  font-family: "Montserrat";
  color: white;
}
#footer{
  padding:7% 10%;
  text-align: center;
}
.f-icon{
  margin: 20px 10px;
}
